@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signinmanager;

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        



        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity.Name</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" asp-controller="Home" asp-action="index">
                    <i class="fa fa-home fa-sm fa-fw mr-2 text-gray-400"></i>
                    Home
                </a>
                <a class="dropdown-item" asp-controller="ProjectSelect" asp-action="Projects">
                    <i class="fa fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    My Projects
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                </a>
                <div class="dropdown-divider"></div>
                <form onclick="postForm()" href="#" name="logout" class="dropdown-item" asp-controller="Account" asp-action="Logout" method="post">

                    <a href="#" onclick="postForm()" class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></a>

                    Logout
                </form>
            </div>
        </li>

    </ul>

</nav>
<!-- End of Topbar -->